<div class="container">
    <div class="row my-3">
        <div class="col-sm-6">
            <h4 class="fw-bold ms-auto">Welcome, Admin</h4>
        </div>
        <div class="col-sm-6 text-end">
           <button class="btn btn-danger" (click)="logOut()">Logout</button>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-3">
            
        </div>
        <div class="col-md-6 ">
            <a class="nav-link text-dark fs-5 text-center" routerLink="addproduct">Add Product</a>
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
