<div class="container my-5">
    <div class="row   mx-auto">
        <div class="col-lg-3" ></div>
        <div class="col-lg-6">
            <div class="card mx-auto">
                <div class="card-body text-center">
                    <h4 class="card-title fs-3 fw-bold">Specifications</h4>
                    <img [src]="productObj?.image" alt = "image" height="200px" class="card-img-top img-fluid">
                    <div class="card-title  fw-bold my-2 fs-5">{{productObj?.brand}}</div>
                    <div class="card-text fw-bold my-2 fs-5">{{productObj?.price}}</div>
                    <div class="card-text my-2 fs-5">{{productObj?.pname}}</div>
                </div>
              </div>
         </div>
         <div class="col-lg-3" ></div>
    </div>
</div>
